a, a:hover, a:visited, a:active {
	color: blue;
}

a.current {
	color: black;
	font-weight: bold;
}

span.type-translation {
	color: blue;
}

#words {
	position: fixed;
	height: 80%;
	overflow-y: auto;
	padding-top: 5%;
	padding-left: 10%;
	float: left;
	width: 20%;
	line-height: 1.3;
}

#entry {
	padding-top: 5%;
	padding-bottom: 5%;
	width: 70%;
	float: right;
}
#hamburger {
	display: none;
}
.grammarBox {
	display: none;
}

.title_frequency_container {
	display: none;
}
div.cB-w {
	display: none;
}
div.assets {
	display: none;
}
img {
	display: none;
}
@media only screen and (max-width: 768px) {
	#words {
		background-color: white;
		position: fixed;
		height: 100%;
		width: 0;
		z-index: 1;
		top: 0;
		left: 0;
		overflow-x: hidden;
		transition: 0.5s;
		padding-left: 0;
	}
	#entry {
		padding-left: 20px;
		padding-right: 10px;
		margin-left:0%;
		margin-right:0%;
		width:100%;
	}
	#hamburger {
		display: block;
	}
}